.message{
    min-width: 420px;
    padding: 20px 40px;
    position: fixed;
    right: 0px;
    top: 10px;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    z-index: 9999;
    border-radius: 4px;

}
.message.success {
    background: rgb(3, 172, 3);

    border-left: 8px solid rgb(2, 72, 2);
   
}

.message.success .fa-check-circle {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(2, 72, 2);
    font-size: 25px;
}

.message.success .text {
    padding: 0 20px;
    font-size: 18px;
    color: rgb(2, 57, 2);
}

.message.success .close-btn {
    position: absolute;
    background-color: rgb(8, 139, 8);
    right: 0px;
    padding: 21px 18px;
    top: 0px;
    cursor: pointer;
}

.message.success .close-btn:hover {
    background-color: rgb(3, 126, 3);
}



@keyframes show_slide {
    0% {
        transform: translateX(100%);
    }
    40% {
        transform: translateX(-10%);
    }
    80% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-10px);
    }
}

.message.show {
    animation: show_slide 1s forwards;
}

.message.hide {
    display: none;
}

.message.error {
    background: rgb(255, 77, 77); 
    border-left: 8px solid rgb(200, 50, 50); 

}

.message.error .fa-exclamation-circle {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(200, 50, 50);
    font-size: 25px;
}

.message.error .text {
    padding: 0 20px;
    font-size: 18px;
    color: rgb(150, 30, 30);
}

.message.error .close-btn {
    position: absolute;
    background-color: rgb(220, 60, 60); 
    right: 0px;
    padding: 21px 18px;
    top: 0px;
    cursor: pointer;
}

.message.error .close-btn:hover {
    background-color: rgb(200, 50, 50); 
}
