* {
    font-family: "Poppins", sans-serif;
    margin: 0px;
    padding: 0px;
}

.sidebar {
    top: 120px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #343a40;
    width: 20vw;
    height: 120vh;
    transition: transform 0.3s ease, width 0.3s ease;
}

#gallery {
    width: 100%
}

#gallery img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.main-content {
    margin-left: 20vw;
    margin-top: 19vh;
    padding: 20px;
    transition: margin-left 0.3s ease, padding 0.3s ease;
}

.sidebar-sticky {
    position: relative;
    top: 10px;
    ;
    height: calc(150vh - 48px);
    overflow-x: hidden;
    overflow-y: auto;
    transition: padding-top 0.3s ease;
}

.toggle-btn {
    position: absolute;
    top: 130px;
    position: fixed;
    left: 15px;
    z-index: 101;
    color: #fff;
    border: none;
    font-size: 24px;
    background-color: #343a40;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pressed {
    color: #343a40;
    background-color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.main-content-expanded {
    margin-left: 0 !important;
    padding: 50px;
    transition: margin-left 0.3s ease, padding 0.3s ease;
}

.sidebar-hidden {
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.sidebar .nav-link {
    color: #ffffff;
    transition: color 0.3s ease;
}

.sidebar .nav-link.active {
    background-color: #495057;
}


.pagination {
    justify-content: center;
}

.page-item {
    border: 1px solid #000;
}

.page-link {
    color: #000 !important;
    background-color: #fff;
    border-color: #000;
}

.page-item.active .page-link {
    color: #fff !important;
    background-color: #000;
    border-color: #000;
}

.page-item.disabled .page-link {
    color: #6c757d;
    background-color: #fff;
    border-color: #ddd;
}

.navbar {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    width: 100%;
    position: fixed !important;
    ;
    z-index: 102;
    min-height: 120px;
}

@media (max-width:772px) {

    .sidebar {
        width: 35vw !important;
    }

    .main-content {
        margin-left: 35vw;
    }

}


.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

@media (max-width: 768px) {
    .main-content {
        padding: 10px;
    }

    .btn {
        font-size: 14px;
        padding: 6px 12px;
    }

    .table th,
    .table td {
        font-size: 14px;
        padding: 8px;
    }

    .table thead {
        display: none;
    }

    .table,
    .table tbody,
    .table tr,
    .table td {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }

    .table td {
        text-align: right;
        position: relative;
        padding-left: 50%;
    }

    .table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 45%;
        padding-left: 10px;
        font-weight: bold;
        white-space: nowrap;
        background: #f8f9fa;
    }
}

.user-form {
    border: 1px solid rgb(201, 199, 199);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
}

@media (max-width: 768px) {

    .user-form {
        width: 50vw;
    }
}

@media (min-width: 768px) {
    .user-form {
        width: 40vw;
    }
}

.nav-item:not(:first-child) {
    margin-left: 50px;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
}

.show {
    display: block;
}

.hide {
    display: none !important;
}

.container_post {

    width: 40vw;
    margin: auto;
}

.container_post h1,
.content_of_post h1 {
    font-family: "Playfair Display", serif !important;
    font-weight: 700;



}

.container_post p {
    font-family: "Playfair Display", serif !important;

}

.content_of_post img {
    max-width: 100%;
    height: auto !important;
}


.table-responsive img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


.error-message {
    width: 100%;
    margin-bottom: 10px;
    font-size: 14px;
    color: rgb(238, 12, 12);
    font-style: italic;
    font-weight: 500;
}

#container_hotel {
    padding: 20px;
    max-width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 0 auto;
}


@media (max-width: 768px) {
    #container_hotel {
        grid-template-columns: 1fr 1fr;
        max-width: 100%;
    }
}

@media (max-width: 576px) {
    і #container_hotel {
        grid-template-columns: 1fr;
        max-width: 100%;
    }
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
}

#container_hotel .card .card-body {
    min-height: 250px;
    display: flex;
    flex-direction: column;
}

.card .btn_about {
    background-color: rgb(17, 17, 158);
    color: #fff;

}

.card .btn_about:hover {
    background-color: rgb(10, 10, 94);
    color: #fff;

}


.card .btn_add_service {
    color: #fff;
    background-color: rgb(181, 8, 216);

}

.card .btn_add_service:hover {
    background-color: rgb(133, 10, 158);
    color: #fff;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

.more_photos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;

}

.card_review {
    min-height: 250px;
    border: 1px solid rgb(179, 179, 179);
    padding: 20px;
    border-radius: 10px;
}

.guest_rating {
    display: flex;
    justify-content: flex-end;
}

.guest_rating .quantity_reviews {
    color: rgb(158, 156, 156);
    margin-top: -10px;
    margin-bottom: -10px;
}

.value {
    background-color: rgb(3, 3, 138);
    padding: 10px 8px;
    height: 40px;
    color: #fff;
    font-size: 18px;
    ;
    margin-left: 10px;
    border-radius: 5px;

}

.description {
    font-size: 20px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.3);
    width: 30px;
    height: 30px;
    background-size: 100%, 100%;
    border-radius: 50%;
}

.review-text {
    font-size: 0.9rem;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
}

.address {
    font-size: 23px;
}

.address .bi {
    color: rgb(2, 2, 180);
}

#add-room-form {
    font-size: 19px;
}

.quantity_of_guests {
    display: flex;
    font-size: 18px;
}

.photo_amenity{
    width: 47px!important;; 
    height: 47px!important;
}